html { height: 100%; }
body {
    background-color: #18282b;
    color: #f5efe9;
    font-family: 'Play', sans-serif;
    height: calc(100% - 16px);
    margin: 0;
    padding: 8px;
}
button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    color: #becdc4;
    font-family: 'Salsa', cursive;
    font-weight: bold;
    outline: none;
    padding: 3px 4px;
}
button:hover {
    color: #f5efe9;
}
button#extracard, button#emptycard {
    background-color: #18282b;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0.5rem 1rem 0.5rem 0.3rem;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
}
button#extracard:hover, button#emptycard:hover {
    background: #3a4f4d;
    color: #f5efe9;
}
button#extracard i, button#emptycard i {
    font-size: 20px;
    padding: 0 0.2rem;
    vertical-align: text-bottom;
}
button#extracard {
    right: 8.8rem;
}
#new-file {
    top: 3rem;
    right: 1rem;
}
h1 {
    font-family: 'Salsa', cursive;
    margin: 0 0 0.3em;
    padding: 0 0.5em;
}
#vcards {
    background-color: #677D76;
    color: #f5efe9;
    display: flex;
    height: calc(100% - 85px);
    overflow: auto;
    padding: 20px 10px;
}
.vcard {
    background-color: #18282B;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 2px 4px 0px inset;
    margin: 0 20px;
    min-width: 20rem;
    padding: 0 1px 8px;
    min-width: 20rem;
    max-width: 27rem;
}
.vcard button {
    border-color: transparent;
    float: right;
    margin: 4px 2px 0 0;
    padding: 2px 2px 0;
}
.vcard h2, .vcard input {
    padding: 0 8px;
}
.vcard h2 {
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.vcard input {
    display: none;
}
ul.contacts {
    background-color: #f5efe9;
    height: calc(100% - 50px);
    margin: 0;
    overflow: auto;
    padding: 0.5rem;
}
ul.contacts::-webkit-scrollbar {
    width: 0;
}
li.contact {
    background-color: #becdc4;
    border: 1px solid;
    border-radius: 4px;
    color: #18282b;
    color: #677d76;
    list-style: none;
    margin: 0 0 1vw;
    overflow: auto;
    padding: 0;
}
li.contact.hovering {
    margin: 4vh 0 1vh;
}
li.contact.hovering::before {
    content: '☞';
    color: #3a4f4d;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    margin-left: -0.9rem;
    margin-top: -2.5rem;
}
.contact-header {
    background-color: #3a4f4d;
    color: #f5efe9;
    height: 40px;
    padding: 8px;
}
.contact-header h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contact-header em {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contact-header img {
    border-radius: 4px;
    float: left;
    height: 40px;
    margin-right: 8px;
    width: 40px;
}
.contact-header button:not(.expand) {
    display: none;
}
.contact-header:hover button {
    display: inline-block;
}
.contact-header:hover button.expand {
    color: #f5efe9;
}
.contact-header button i {
    font-size: 20px;
    padding-top: 2px;
}
li.contact ul {
    padding: 6px 6px 1vh;
}
li.contact ul.hidden {
    display: none;
}
.contact-detail {
    text-wrap: nowrap;
}
.contact-detail *:not(i) {
    vertical-align: super;
}
.contact-detail-type:not(:empty) {
    margin: 0 5px;
}
.dragging {
    opacity: 0.5;
}
#merge {
    background: #f5efe9;
    color: #3a4f4d;
    max-width: min(90vw, 1000px);
    padding: 0;
}
#merge::backdrop {
    background: #677d76;
    opacity: 0.9;
}
#merge header {
    background: #18282b;
    color: #f5efe9;
}
#merge header h2 {
    margin: 0;
    padding: 0.83em 32px;
}
#merge .compare {
    display: flex;
    column-gap: 40px;
    padding: 16px 32px 24px;
}
.compare-left, .compare-right {
    flex: 1 1 50%;
}
.merge-row {
    align-items: center;
    border: 1px solid transparent;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 10px;
    padding: 5px 10px;
}
.merge-row:hover {
    border-color: #becdc4;
    border-radius: 4px;
}
.merge-row-name {
    font-weight: bold;
    grid-column: 1 / 6;
    grid-row: 1;
}
.merge-row-name i {
    margin: 0 5px -3px 0;
    vertical-align: bottom;
}
.merge-row-params {
    font-style: italic;
    font-weight: bold;
    grid-column: 6 / -2;
    grid-row: 1;
    text-align: right;
}
.merge-row-value {
    grid-column: 1 / -2;
    grid-row: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 30px;
}
.merge-row-value img {
    max-height: 80px;
}
.merge-row-buttons {
    grid-column: 12;
    grid-row: 1 / span 2;
    text-align: right;
}
.compare-right .merge-row-name {
    grid-column: 2 / 7;
}
.compare-right .merge-row-params {
    grid-column: 7 / -1;
}
.compare-right .merge-row-value {
    grid-column: 2 / -1;
}
.compare-right .merge-row-buttons {
    grid-column: 1 / 2;
    text-align: left;
}
#merge button {
    border-radius: 100%;
    margin: auto 5px;
    padding: 5px 10px;
}
#merge button:hover {
    color: #3a4f4d;
}
#merge button.close {
    color: #954b4b;
}
#merge button.close:hover {
    color: #a91616;
}
#merge footer {
    border-top: 1px solid #becdc4;
    padding: 16px 24px;
    text-align: right;
}
#merge footer button {
    border-radius: 4px;
    color: #677d76;
    font-family: 'Play', sans-serif;
    padding: 4px 8px;
}
